//LIGHT


  $white: hsl(0, 0%, 100%);
  $veryPaleBlue: hsl(228, 100%, 98%);
  $lightGrayishBlue: hsl(227, 47%, 96%);
  $darkGrayishBlue: hsl(228, 12%, 44%);
  $veryDarkBlue: hsl(230, 17%, 14%);


/* .light {

} */
//DARK MODE

  $veryDarkBlue: hsl(230, 17%, 14%);
  $veryDarkBlue: hsl(232, 19%, 15%);
  $darkDesaturatedBlue: hsl(228, 28%, 20%);
  $desaturatedBlue: hsl(228, 34%, 66%);
  $white: hsl(0, 0%, 100%);
/* .dark {
  $white: hsl(230, 17%, 14%);
  $veryPaleBlue: hsl(232, 19%, 15%);
  $lightGrayishBlue: hsl(228, 28%, 20%);
  $darkGrayishBlue: hsl(228, 34%, 66%);
  $veryDarkBlue: hsl(0, 0%, 100%);
} */

//TOGGLE
$toggleLight: hsl(230, 22%, 74%);
$toggleDark: linear-gradient(225deg, hsl(210, 78%, 56%) 0%, hsl(146, 68%, 55%) 98.02%);
/* $toggleDark:linear-gradient( hsl(210, 78%, 56%),hsl(146, 68%, 55%)); */

$facebook: hsl(208, 92%, 53%);
$twitter: hsl(203, 89%, 53%);
$instagram: linear-gradient(to right, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
$youtube: hsl(348, 97%, 39%);

$limeGreen: hsl(163, 72%, 41%);
$brightRed: hsl(356, 69%, 56%);
